<html>
<head>
<title>Online Library System</title>
<style>
body  {
background-image:url("https://images-na.ssl-images-amazon.com/images/I/61-E1wU996L.jpg");background-size:cover
</style>
<script>
function onStudentClick() {
	window.location.replace("student.html");
	return false;
}
function onLibrarianClick() {
	window.location.replace("librarian.html");
	return false;
}
</script>
</head>
<p align="center" style="color:black;font-family:Times New Roman;font-style:bold;font-size:50px;">Holy Cross Home Science College
<p align="center" style="color:black;font-family:Times New Roman;font-style:bold;font-size:30px;">Online Library System
<br><br>
<button id="studentBtn" type='button' onclick='onStudentClick();'>Student </button>
<br><br>
<button id="librarianBtn" type='button' onclick='onLibrarianClick();'>Librarian</button>
<br><br>
</body>
</html>
