<html>
	<head>
		<title>Online Library System</title>
	</head>
	<body>
		<h1>Holy Cross Home Science College</h1>
		<h2>Online Library System</h2>
		<button id="studentBtn" type='button' onclick='onStudentClick();'>Student</button>
	</body>
</html>